.dictionary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  min-height: 100vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dictionary-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 2rem;
  button {
    cursor: pointer;
  }
}

.dictionary-words {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
  width: 100%;
  min-height: 100vh;
  & .message {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }
}

.dictionary-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  & > span {
    font-weight: 700;
  }

  .group-buttons {
    display: flex;
    gap: 10px;
  }
}

.word-card {
  position: relative;
  display: flex;
  padding: 20px;
  box-shadow: gray 0 0 15px;
  gap: 25px;
  border-radius: 5px;

  & > .audio-image {
    position: absolute;
    right: 20px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background: url('/src/assets/icons/audio.svg') no-repeat center;
    background-size: contain;
  }

  & > .audio-image.playing {
    background: url('/src/assets/icons/stop.svg') no-repeat center;
    transform: scale(0.7);
    border-radius: 3px;
  }

  & > .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  & .title {
    font-size: 20px;
    height: 3em;
    border-left: 3px solid rgb(255, 203, 34);
    padding-left: 15px;
  }

  & .word {
    font-weight: 700;
  }

  & .translation {
    padding-top: 10px;
  }

  & > .image {
    object-fit: cover;
    object-position: center center;
    width: 260px;
    height: 260px;
  }

  .text-example, .text-meaning {
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      padding: 0;
    }
    & > .translation {
      color: gray;
    }
  }
}
