.dictionary {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fdfdfd;
  gap: 40px;
}

.dictionary.learned {
  background-color: rgb(240, 255, 240);
}

.dictionary-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  gap: 10px;
  button {
    cursor: pointer;
  }
}

.dictionary-minigame-links {
  display: flex;
  text-align: center;
  gap: 50px;
  .audio-challenge-link, .sprint-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 80px;
    padding: 20px;
    border: 3px solid rgb(253, 253, 253);
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
  img {
    width: 32px;
    height: 32px;
  }
  h2 {
    height: 42px;
    font-size: 18px;
  }
}

.dictionary-words {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  gap: 40px;
  & .message {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
}

.dictionary-groups {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  & > span {
    font-weight: 700;
  }

  .group-buttons {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    gap: 15px;
  }
}

.word-card {
  position: relative;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  box-shadow: gray 0 0 15px;
  gap: 25px;

  &.learned {
    background-color: rgb(230, 255, 231);
  }

  &.difficult {
    background-color: rgb(255, 244, 230);
  }

  & > .audio-image {
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url('/src/assets/icons/audio.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
  }

  & > .audio-image.playing {
    border-radius: 3px;
    background: url('/src/assets/icons/stop.svg') no-repeat center;
    transform: scale(0.7);
  }

  & > .counters {
    position: absolute;
    top: 20px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    .right-answers, .wrong-answers {
      width: 40px;
      padding: 5px;
      font-size: 20px;
      text-align: center;
      background-color: rgb(240, 240, 240);

    }
    .right-answers {
      border: 3px solid lightgreen;
    }
    .wrong-answers {
      border: 3px solid lightcoral;
    }
  }

  & > .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 445px;
    padding: 10px;
  }

  & .title {
    height: 3em;
    padding-left: 15px;
    font-size: 20px;
    border-left: 3px solid rgb(255, 203, 34);
  }

  & .word {
    font-weight: 700;
  }

  & .translation {
    padding-top: 10px;
  }

  & > .image {
    width: 260px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
  }

  .text-example, .text-meaning {
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
      padding: 0;
    }
    & > .translation {
      color: gray;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .add-difficult-button {
    width: fit-content;
    color: black;
    border-color: lighten($color: orange, $amount: 10);
    background-color: orange;
    &:hover {
      background-color: lighten($color: orange, $amount: 10);
    }
  }

  .add-learned-button {
    color: black;
    border-color: lighten($color: lightgreen, $amount: 10);
    background-color: lightgreen;
    &:hover {
      background-color: lighten($color: lightgreen, $amount: 10);
    }
  }
}
