.darkened-background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  h2 {
    padding: 80px;
    border: 3px solid gray;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
  }
}

.statistics-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  .statistics-title {
    font-size: 32px;
    font-weight: 400;
    color: gray;
  }
}

.today-statistics {
  width: 760px;
  height: 500px;
  padding: 20px;
  .today-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
  }
  .learned-words, .new-words, .accuracy {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  }
  .sprint-indicator, .audio-challenge-indicator {
    width: 330px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  }
  .learned-words, .new-words {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    gap: 10px;
    .learned-words-counter, .new-words-counter {
      font-size: 48px;
    }

    .learned-words-title, .new-words-title {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .accuracy {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    gap: 10px;
    .accuracy-counter {
      font-size: 48px;
    }
    .accuracy-title {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .sprint-indicator, .audio-challenge-indicator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
  .sprint-indicator-title, .audio-challenge-indicator-title {
    display: flex;
    justify-content: center;
    height: 20%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  .sprint-indicator-title::before, .audio-challenge-indicator-title::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sprint-indicator-title::before {
    background-image: url('/src/assets/images/sprint.png');
  }

  .audio-challenge-indicator-title::before {
    background-image: url('/src/assets/images/audioChallenge.png');
  }

  .indicator-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
  }

  .sprint-words, .sprint-accuracy, .sprint-in-row, .audio-challenge-words, .audio-challenge-accuracy, .audio-challenge-in-row {
    display: flex;
    justify-content: space-between;
    & span {
      font-size: 20px;
    }
  }
}

.alltime-statistics {
  width: 900px;
  height: 400px;
  gap: 50px;
  .alltime-statistics-charts {
    display: flex;
    justify-content: space-between;
  }
}
