@import "../variables.scss";

.main-page {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px 80px 20px;
  background-color: #fdfdfd;
  gap: 50px;

  @media (max-width: $tablet1023) {
    gap: 30px;
  }

  @media (max-width: $mobile767) {
    padding: 20px 20px 100px 20px;
    gap: 20px;
  }

  &__header {
    z-index: 2;
    align-self: start;
    margin-top: 40px;

    @media (max-width: $tablet1023) {
      margin-top: 20px;
    }

    @media (max-width: $mobile767) {
      margin-top: 20px;
    }

    &-title {
      max-width: 570px;
      font-size: 80px;
      font-weight: 700;
      line-height: 1;

      @media (max-width: $tablet1023) {
        font-size: 60px;
      }

      @media (max-width: $mobile767) {
        max-width: 280px;
        font-size: 30px;
      }
    }

    &-subtitle {
      max-width: 425px;
      margin-top: 20px;
      font-size: 18px;

      @media (max-width: $tablet1023) {
        font-size: 16px;
      }

      @media (max-width: $mobile767) {
        max-width: 280px;
      }
    }

    &-img {
      position: absolute;
      right: 0;
      height: 450px;

      @media (max-width: $laptop1279) {
        opacity: 0.3;
      }

      @media (max-width: $tablet1023) {
        height: 360px;
      }

      @media (max-width: $mobile767) {
        height: 280px;
        opacity: 0.2;
      }
    }

    &-button {
      margin-top: 20px;
    }
  }

  &__advantages-title,
  &__login-title,
  &__our-team-title {
    font-size: 40px;
    text-align: center;

    @media (max-width: $mobile767) {
      font-size: 24px;
    }
  }

  &__advantages {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    @media (max-width: $tablet1023) {
      gap: 30px;
    }

    @media (max-width: $mobile767) {
      gap: 20px;
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;

      @media (max-width: $laptop1279) {
        gap: 30px;
      }

      @media (max-width: $tablet1023) {
        gap: 20px;
      }
    }

    &-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 400px;
      padding: 30px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 0 4px rgb(0 0 0 / 15%);
      gap: 20px;

      @media (max-width: $laptop1279) {
        width: 361px;
        padding: 20px;
      }

      @media (max-width: $mobile767) {
        width: 100%;
        max-width: 361px;
        padding: 10px;
        gap: 10px;
      }

      &-img {
        width: 56px;
        height: 56px;
        font-size: 56px;

        @media (max-width: $mobile767) {
          width: 35px;
          height: 35px;
          font-size: 35px;
        }

        &.red {
          fill: $red;
        }

        &.blue {
          fill: $blue;
        }

        &.orange {
          fill: $orange;
        }

        &.marine {
          fill: $marine;
        }
      }

      &-text {
        height: 120px;
        line-height: 1.5;
        text-align: center;

        @media (max-width: $mobile767) {
          height: auto;
        }
      }
    }
  }

  &__advantages-card-button,
  &__header-button,
  &__login-button {
    &.orange {
      border-color: $orange;
      background-color: $orange;

      &:hover:not(:disabled) {
        border-color: lighten($color: $orange, $amount: 10);
        background-color: lighten($color: $orange, $amount: 10);
      }
    }

    &.red {
      border-color: $red;
      background-color: $red;

      &:hover:not(:disabled) {
        border-color: lighten($color: $red, $amount: 10);
        background-color: lighten($color: $red, $amount: 10);
      }
    }

    &.blue {
      border-color: $blue;
      background-color: $blue;

      &:hover:not(:disabled) {
        border-color: lighten($color: $blue, $amount: 10);
        background-color: lighten($color: $blue, $amount: 10);
      }
    }

    &.green {
      border-color: $green;
      background-color: $green;

      &:hover:not(:disabled) {
        border-color: lighten($color: $green, $amount: 10);
        background-color: lighten($color: $green, $amount: 10);
      }
    }

    &.marine {
      border-color: $marine;
      background-color: $marine;

      &:hover:not(:disabled) {
        border-color: lighten($color: $marine, $amount: 10);
        background-color: lighten($color: $marine, $amount: 10);
      }
    }

    &:disabled {
      color: #b4b4b4ff;
      border-color: #b4b4b4ff;
      background-color: transparent;
      cursor: auto;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &-text {
      max-width: 420px;
      font-size: 18px;
      text-align: center;
    }
  }

  &__our-team {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &-img {
      width: 100%;
      max-width: 800px;

      @media (max-width: $tablet1023) {
        width: 80%;
      }
    }

    &-members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;

      @media (max-width: $mobile767) {
        gap: 20px;
      }
    }
  }
}

.member-card {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 550px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);
  transition: 0.3s;
  gap: 10px;

  @media (max-width: $mobile767) {
    width: 280px;
    height: 500px;
  }

  &:hover {
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  }

  &__member-photo-wrapper {
    width: 300px;
    height: 300px;

    @media (max-width: $mobile767) {
      width: 280px;
      height: 280px;
    }
  }

  &__member-photo {
    width: 100%;
    height: 100%;
    background: url('/src/assets/images/ivan.jpg') no-repeat center;
    background-size: cover;

    &.alex {
      background: url('https://avatars.githubusercontent.com/u/67655972?v=4') no-repeat center;
      background-size: cover;
    }

    &.anton {
      background: url('https://avatars.githubusercontent.com/u/69756211?v=4') no-repeat center;
      background-size: cover;
    }
  }

  &__member-data {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__name {
    font-size: 1.5em;
    text-decoration: underline;
  }

  &__github-link {
    display: block;
    width: 56px;
    height: 56px;
    background: url('/src/assets/icons/github.svg') no-repeat center;
    background-size: contain;

    @media (max-width: $mobile767) {
      width: 30px;
      height: 30px;
    }
  }

  &__role {
    font-weight: 700;
  }

  &__role-text {
    margin: 0 20px;
    text-align: center;

    @media (max-width: $mobile767) {
      margin: 0 10px;
    }
  }
}
