.page-nav {
  position: sticky;
  top: 0;
  width: calc(24px + 1.6rem);
  height: 100vh;
  white-space: nowrap;
  overflow: hidden;
  background-color: #172e54;
  color: white;
  transition: .3s;
  z-index: 2;
  max-width: max-content;

  &:hover {
    width: 200px;
  }

  label {
    display: block;
    cursor: pointer;
    user-select: none;
    height: calc(24px + 1.6rem);
    line-height: calc(24px + 1.6rem);
    padding-right: .8rem;
    transition: .3s;

    &::before {
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
      margin: 0 .8rem;
    }

    &[for="radio-home"]::before {
      content: url('/src/assets/icons/home.svg');
    }

    &[for="radio-book"]::before {
      content: url('/src/assets/icons/book.svg');
    }

    &[for="radio-games"]::before {
      content: url('/src/assets/icons/game.svg');
    }

    &[for="radio-stat"]::before {
      content: url('/src/assets/icons/stat.svg');
    }

    &:hover {
      background-color: #23457a;
    }

    &:active {
      background-color: #396fc0;
    }
  }

  input {
    display: none;

    &:checked + label {
      background-color: #23457a;
    }
  }
  &.hide-nav {
    width: 0;
  }
}
