.minigames-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
}

.minigames-page__games-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.minigames-page__game-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 280px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);
  gap: 20px;
}

.minigames-page__game-card-img {
  width: 56px;
  height: 56px;
}

.minigames-page__game-card-title {
  padding-top: 20px;
}

.minigames-page__game-card-text {
  text-align: center;
}

.minigames-page__game-card-button_audiochallenge {
  border-color: #fa5833ff;
  background-color: #fa5833ff;

  &:hover:not(:disabled) {
    border-color: lighten($color: #fa5833ff, $amount: 10);
    background-color: lighten($color: #fa5833ff, $amount: 10);
  }
}

.minigames-page__game-card-button_sprint {
  border-color: #0252ccff;
  background-color: #0252ccff;

  &:hover:not(:disabled) {
    border-color: lighten($color: #0252ccff, $amount: 10);
    background-color: lighten($color: #0252ccff, $amount: 10);
  }
}
