<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="audioChallengeView.css">
</head>
<body>

<main class="audio-main">
  <div class="audio-challenge">
    <div class="audio-challenge__results-page">
      <h2 class="audio-challenge__results-title">Game results</h2>
      <p>Words were repeated: XX</p>
      <p>Right answers: XX</p>
      <p>Wrong answers: XX</p>
      <p>Right answers in a row: XX</p>
      <p>Accuracy: XX</p>
      <div class="audio-challenge__results-buttons-block">
        <button class="audio-challenge__results-button button" type="button">Play again</button>
        <button class="audio-challenge__results-button button" type="button">Back to games</button>
      </div>
    </div>
  </div>
</main>

</body>
</html>
