<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="audioChallenge.css">
</head>
<body>

<main class="audio-main">
  <div class="audio-challenge">
    <div class="audio-challenge__main-page">
      <h2 class="audio-challenge__main-title">Audio challenge</h2>
      <h3 class="audio-challenge__sub-title">Select difficulty Level</h3>
      <div class="audio-challenge__difficulty-buttons">
        <button class="audio-challenge__difficulty-button button" type="button">X</button>
        <button class="audio-challenge__difficulty-button button" type="button">X</button>
        <button class="audio-challenge__difficulty-button button" type="button">X</button>
        <button class="audio-challenge__difficulty-button button" type="button">X</button>
        <button class="audio-challenge__difficulty-button button" type="button">X</button>
        <button class="audio-challenge__difficulty-button button" type="button">X</button>
      </div>
      <button class="audio-challenge__back-to-games-button button" type="button">Back to Games</button>
    </div>
  </div>
</main>

</body>
</html>
