.audio-main {
  width: 100%;
  height: 100vh;
}

.audio-challenge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(24, 90, 157) 0%, rgb(67, 206, 162) 100%);
}

.audio-challenge__main-page,
.audio-challenge__game-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.audio-challenge__difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.audio-challenge__word-image-block {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 260px;
  background: url('/src/assets/icons/question.svg') no-repeat center;
  background-size: contain;
}

.audio-challenge__word-image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: 0.3s;
}

.audio-challenge__select-buttons-block {
  display: flex;
  gap: 30px;
}

.audio-challenge__word {
  opacity: 0;
  user-select: none;
  transition: 0.3s;
}
