<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Title</title>
  <link rel='stylesheet' href='audioChallengeView.css'>
</head>
<body>

<main class='audio-main'>
  <div class='audio-challenge'>
    <div class='audio-challenge__main-page'>
      <h2 class='audio-challenge__main-title'>Audio challenge</h2>
      <h3 class='audio-challenge__sub-title'>Select difficulty Level</h3>
      <div class='audio-challenge__difficulty-buttons'>
        <button class='audio-challenge__difficulty-button audio-challenge__difficulty-button_group-0 button'
                type='button' data-group='0'>1
        </button>
        <button class='audio-challenge__difficulty-button audio-challenge__difficulty-button_group-1 button'
                type='button' data-group='1'>2
        </button>
        <button class='audio-challenge__difficulty-button audio-challenge__difficulty-button_group-2 button'
                type='button' data-group='2'>3
        </button>
        <button class='audio-challenge__difficulty-button audio-challenge__difficulty-button_group-3 button'
                type='button' data-group='3'>4
        </button>
        <button class='audio-challenge__difficulty-button audio-challenge__difficulty-button_group-4 button'
                type='button' data-group='4'>5
        </button>
        <button class='audio-challenge__difficulty-button audio-challenge__difficulty-button_group-5 button'
                type='button' data-group='5'>6
        </button>
      </div>
      <button class='audio-challenge__back-to-games-button button' type='button'>Back to Games</button>
    </div>
  </div>
</main>

</body>
</html>
