<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="audioChallengeView.css">
</head>
<body>

<main class="audio-main">
  <div class="audio-challenge">
    <div class="audio-challenge__game-page">
      <h2 class="audio-challenge__progress">Progress: <span class="audio-challenge__progress-count">XX</span> / <span
        class="audio-challenge__progress-max">XX</span></h2>
      <div class="audio-challenge__word-image-block">
        <img class="audio-challenge__word-image" src="/" alt="Word image">
      </div>
      <p class="audio-challenge__word">WORD</p>
      <button class="audio-challenge__play-button button" type="button">Play</button>
      <div class="audio-challenge__select-buttons-block">
        <button class="audio-challenge__select-button button" type="button" data-wordId="wordId">WORD</button>
        <button class="audio-challenge__select-button button" type="button" data-wordId="wordId">WORD</button>
        <button class="audio-challenge__select-button button" type="button" data-wordId="wordId">WORD</button>
        <button class="audio-challenge__select-button button" type="button" data-wordId="wordId">WORD</button>
      </div>
      <button class="audio-challenge__submit-button button" type="button">NEXT WORD</button>

    </div>
  </div>
</main>

</body>
</html>
