<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RSLang</title>
  <link rel="stylesheet" href="../../../style.css">
  <link rel="stylesheet" href="audioChallengeView.css">

</head>
<body>
<div class="main-wrapper">
  <header>
    <h1 class="app-title">Title</h1>
  </header>
  <main class="main-window">
    <div class="audio-challenge">
      <h2 class="audio-challenge__results-title">Game results</h2>

      <div class="audio-challenge__results-page">
        <div class="audio-challenge__results-block">
          <div class="audio-challenge__results-string">
            <p class="audio-challenge__results-word">Words were repeated:</p>
            <p class="audio-challenge__results-value value-1">X</p>
          </div>
          <div class="audio-challenge__results-string">
            <p class="audio-challenge__results-word">Right answers:</p>
            <p class="audio-challenge__results-value value-2">X</p>
          </div>
          <div class="audio-challenge__results-string">
            <p class="audio-challenge__results-word">Wrong answers:</p>
            <p class="audio-challenge__results-value value-3">X</p>
          </div>
          <div class="audio-challenge__results-string">
            <p class="audio-challenge__results-word">Right answers in a row:</p>
            <p class="audio-challenge__results-value value-4">X</p>
          </div>
        </div>

        <p class="audio-challenge__results-accuracy">Accuracy:</p>
        <p class="audio-challenge__results-accuracy-value">XX%</p>

        <div class="line"></div>

        <p class="audio-challenge__results-right-answers green">Right answers:</p>
        <div class="audio-challenge__results-audio-block">
          <div class="audio-challenge__results-audio">
            <button class="audio-challenge__play-button button" type="button" data-audiolink="0.mp3"></button>
            <p class="audio-challenge__results-word">Word</p>
          </div>
          <div class="audio-challenge__results-audio">
            <button class="audio-challenge__play-button button" type="button" data-audiolink="0.mp3"></button>
            <p class="audio-challenge__results-word">Word</p>
          </div>
          <div class="audio-challenge__results-audio">
            <button class="audio-challenge__play-button button" type="button" data-audiolink="0.mp3"></button>
            <p class="audio-challenge__results-word">Word</p>
          </div>
        </div>

        <div class="line"></div>

        <p class="audio-challenge__results-wrong-answers red">Wrong answers:</p>
        <div class="audio-challenge__results-audio-block">
          <div class="audio-challenge__results-audio">
            <button class="audio-challenge__play-button button" type="button" data-audiolink="0.mp3"></button>
            <p class="audio-challenge__results-word">Word</p>
          </div>
          <div class="audio-challenge__results-audio">
            <button class="audio-challenge__play-button button" type="button" data-audiolink="0.mp3"></button>
            <p class="audio-challenge__results-word">Word</p>
          </div>
          <div class="audio-challenge__results-audio">
            <button class="audio-challenge__play-button button" type="button" data-audiolink="0.mp3"></button>
            <p class="audio-challenge__results-word">Word</p>
          </div>
        </div>

      </div>

      <div class="audio-challenge__results-buttons-block">
        <button class="audio-challenge__results-button button" type="button">Play again</button>
        <button class="audio-challenge__results-button button" type="button">Back to games</button>
      </div>
    </div>
  </main>
  <footer>GitHub links</footer>
</div>
<audio class="app-audio" src=""></audio>
</body>
</html>
