.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 0 auto;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
  color: #9ea4e7;
}
 
.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
