.authorization-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  left:0;
  top: 0;
  width:100%;
  height:100%;

  .authorization {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 300px;
    height: max-content;
    background-color: #5b67ed;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .tabs {
      display: flex;
      flex-direction: row;

      .tab-btn {
        border: none;
        border-radius: 2px 2px 0 0;
        background-color: #5b67ed;
        width: 100%;
        padding-bottom: 5px;
        cursor: pointer;
        margin: 10px 10px 0;
        padding: 10px;
        color: white;

        &.active {
          background-color: #9ea4e7;
        }
      }
    }

    .tab-content {
      background-color: #9ea4e7;
      padding: 5px;
      margin: 0 10px;
      border-radius: 0 0 2px 2px;
      display: flex;
      flex-direction: column;

      .authorization-input {
        margin: 5px;
        padding: 10px;
        border: none;
        outline: none;  
      }

      .authorization-input:placeholder-shown {
        border-radius: 2px;
        color: #bdbdbd;
      }

      p {
        font-size: 0.8rem;
        color: rgb(231, 14, 14);
        text-align: center;
      }

      .authorized-user {
        background-color: white;
        border-radius: 2px;
        margin: 5px;
        padding: 10px;
        
        p {
          font-size: 1rem;
          
          color: black;
        }
      }
    }

    .sign-btn {
      width: fit-content;
      margin: 10px 0;
      align-self: center;
    }
  }
}

.log {
  margin: 4px;
  padding: 0;
  display: flex;
  padding-right: 5px;
  border-color: #5b67ed;
  background-color: #5b67ed;

  &:hover:not(:disabled) {
    background-color: lighten($color: #5b67ed, $amount: 10);
    border-color: lighten($color: #5b67ed, $amount: 10);
  }

  span {
    align-self: center;
    text-align: right;

    &.icon {
      margin-right: 5px;
      background: url(/src/assets/icons/human-head.svg) no-repeat;
      float: left;
      width: 24px;
      height: 24px;
    }
  }
}








 







